#==============================================================================#
# GODOT ANDROID GITIGNORE
#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#==============================================================================#

#==============================================================================#
# OS files
#==============================================================================#
# Linux
*~
# Apple
.DS_Store
.AppleDouble
.LSOverride
.svn
.Spotlight-V100
.Trashes
# Windows
Thumbs.db
Desktop.ini

#==============================================================================#
# Folder for temp contents
#==============================================================================#
_ignore

#==============================================================================#
# Eclipse
#==============================================================================#
*target*
*.jar
*.war
*.ear
*.class
*.pydevproject
#.project
.metadata
#bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
#.classpath
#.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath

#==============================================================================#
# Maven
#==============================================================================#
log/
target/

#==============================================================================#
# Java
#==============================================================================#
# Package Files #
*.jar
*.war
*.ear
*.db
*.class
# Directories #
#/build/
#/bin/
target/
